@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Work Sans', sans-serif;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: inherit;
    height: inherit;
}

.choice_picker_container {
    display: flex;
     align-items: flex-start;
    justify-content: space-between;
}

.circle {
    width: 70vmin;
    height: 70vmin;
    background-color: blue;
    border-radius: 50%;
}