@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;1,600;2,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #000000;
    font-family: 'Work Sans', sans-serif;
    max-width: 100vw;
    min-height: 100vh;
    color: #ffffff;
    
}

header {
    height: 60px;
    width: 100%;
    background-color:rgb(119, 0, 255);
    color: #000;

}

header,
.spin {
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    padding: 5%;
}

.container,
.choice_picker {
    width: 100%;
    height: 100%;
}

.choice_picker_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

.circle {
    width: 70vmin;
    height: 70vmin;
    background-color: blue;
    border-radius: 50%;
    position: relative;
}

.spin {
    width: 25%;
    height: 25%;
    background-color: #FFFFFF;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;
}


.choice_details {
    padding: 2rem;
    height: 70vh;
    width: 70%;
    background-color: #0a0a0a;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.choice_style {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 2rem; */
}

.btn {
    padding: .7rem 1rem;
    font-size: .9rem;
    font-weight: 600;
    border-radius: 10px;
    background-color: #393939;
    border: none;
    color: #FFFFFF;
}

.fa-solid {
    margin-right: .7rem;
}

label {
    font-weight: 600;
    font-size: 1.1rem;
}



input[type="text"] {
    padding: .5rem;
    width: 100%;
    font-size: 1rem;
    border: 1px solid #393939;
    outline: none;
    margin-top: .3rem;
    background-color: #393939;
    color: #FFFFFF;
}

.listed_choices {
 
}

.choice {
    padding: .7rem 1rem;
    background-color: blueviolet;
    border-radius: 10px;
}



@media only screen and (max-width: 600px) {
    .choice_picker_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}