@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;1,600;2,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #000000;
    font-family: 'Work Sans', sans-serif;
    max-width: 100vw;
    min-height: 100vh;
    color: #ffffff;
    
}

header {
    height: 70px;
    width: 100%;
    background-color:rgb(255, 115, 0);
}

header,
.spin,
.display_question i {
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    padding: 5%;
}

.container,
.choice_picker {
    width: 100%;
    height: 100%;
}

.choice_picker_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-;
    /* gap: 2rem; */
}

.wheel {
    width: 70vmin;
    height: 70vmin;
    background-color: blue;
    border-radius: 50%;
    position: relative;
}

.spin {
    width: 25%;
    height: 25%;
    background-color: #FFFFFF;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;
    cursor: pointer
}


.choice_details {
    padding: 2rem;
    height: 75vh;
    width: 70%;
    background-color: #0a0a0a;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.choice_style {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 2rem; */
}

.btn {
    cursor: pointer;
    padding: .7rem 1rem;
    font-size: .9rem;
    font-weight: 600;
    border-radius: 10px;
    background-color: #393939;
    border: none;
    color: #FFFFFF;
}

.fa-solid {
    margin-right: .7rem;
    font-size: 1rem;
}

label {
    font-weight: 600;
    font-size: 1.1rem;
}


textarea {
    padding: .7rem;
    width: 100%;
    font-size: 1rem;
    border: 1px solid #393939;
    outline: none;
    margin-top: .3rem;
    background-color: #393939;
    color: #FFFFFF;
    font-family: inherit;
}

input[type="text"] {
    padding: .8rem;
    width: 100%;
    font-size: 1rem;
    border: 1px solid #393939;
    outline: none;
    margin-top: .3rem;
    background-color: #393939;
    color: #FFFFFF;
    font-family: inherit;
}

.listed_choices {
    width: 100%;
    height: 100%;
}

.choice {
    display: inline-block;
    padding: .7rem 1rem;
    background-color: blueviolet;
    border-radius: 10px;
    margin: 0 5px 12px 5px;
}






/* DISPLAY ANSWER */
.hidden {
    display: none;
}

.display {
    position: absolute;
    width: 60%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: -11px 13px 14px -15px rgba(0,0,0,0.75);
    -webkit-box-shadow: -11px 13px 14px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: -11px 13px 14px -15px rgba(0,0,0,0.75);
}

.display_question {
    height: 80px;
    background-color: rgb(32, 183, 105);
    padding: 2rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.displayed_question {
    font-size: 1.2rem;
}

.display_question i {
    width: 30px;
    height: 30px;
    background-color: none;
    border-radius: 50%;
    transition: .3s ease;
    cursor: pointer
    
}

.fa-xmark{
    font-size: 1.2rem;
}

.display_question i:hover {
    background-color: #ffffff49;
}


.display_answer {
    height: 150px;
    background-color: #0a0a0a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picked_choice {
    font-size: 2rem;
}


@media only screen and (max-width: 600px) {
    .choice_picker_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}